language: python
sudo: false
branches:
  only:
    - master
python:
  - "3.6"
  
install:
  - pip install --upgrade setuptools
  - pip install -r requirements.txt

script: 
  - py.test adam --cov=adam

after_success:
  - coveralls